.container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-;

}
.project_card {
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 6px;
    min-width: 300px;
    margin-bottom: 30px;
    
}

.project_card h4 {
    text-align: center;
    border-radius: 6px;
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em 0.8em;
    margin-bottom: 1.3em;
    margin-top: 0.2em;
    font-size: 1.3em;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.category_text .infra {
    background-color: green;
}
.category_text .desenvolvimento {
    background-color: blue;
}
.category_text .design {
    background-color: yellow;
}
.category_text .planejamento {
    background-color: pink;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-size: .9em;
    padding: .6em 1em;
    border: none;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: 0.4s;
}

.project_card_actions svg {
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #ffbb33;
}





