.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom:  .6em;
    font-weight: bold;
}

.form_control select {
    padding: 1em;
    border-radius: 0;
    border: none;
    border-radius: 6px;
}
.personalizar-select{
    border: 1px solid red;
}
.personalizar-option{
    border: 1px solid blue;
    background: black;
    color: #fff;
}  
.personalizar-option:hover{
    background: #fff;
    color: black;
}