.footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.social_list li a{
    margin: 0 1em;
    color: #fff;
    transition: 0.1s;
}

.social_list li a:hover {
    color: #ffbb33;
    transition: 0.3s;
}

.social_list svg {
    cursor: pointer;
    font-size: 1.5em;
}

.copy_right{
    margin-top:  1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffbb33;
}

