.btn {
    background-color: #222;
    color: #fff;
    padding: 0.8em 1.5em;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 6px;
    font-size: 16px;
}

.btn:hover {
    color: #ffbb33;
}