.loader_container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    width: 150px;
}